@model eCommerce_SharedViewModels.EntitiesDto.Register.RegisterDto

<!--Register form-->
<form action="Login/Register" method="post">
	<div class="form-group">
		<input type="hidden" id="error" value="@TempData["error"]" />
		<input type="hidden" id="success" value="@TempData["success"]" />
		<label>Your email address *</label>
		<input asp-for="Email" type="email" class="form-control" required>
	</div>

	<div class="form-group">
		<label>User name *</label>
		<input asp-for="Username" class="form-control" required>
	</div>

	<div class="form-group">
		<label>Password *</label>
		<input asp-for="Password" type="password" class="form-control" required>
	</div>
	<div class="form-group">
		<label>Confirm Password *</label>
		<input asp-for="ConfirmPassword" type="password" class="form-control" required>
	</div>
	<!-- End .form-group -->

	<div class="form-footer">
		<button type="submit" class="btn btn-outline-primary-2">
			<span>SIGN UP</span>
			<i class="icon-long-arrow-right"></i>
		</button>

		<div class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="register-policy-2" required>
			<label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
		</div><!-- End .custom-checkbox -->
	</div><!-- End .form-footer -->
</form>	